* {
  margin: 0;
  padding: 0;
}

:root {
  --available: #22c022;
  --selected: brown;
  --white: #eed4ac;
  --black: deepskyblue;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: var(--black);
}

.white {
  background-color: var(--white);
}

.selected {
  background-color: var(--selected);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--available);
}